@charset "utf-8";
/* CSS Document */

body {
    font-family: 'Open Sans', sans-serif;
}
h1, #hero h2 {color: #fff;}
h2, h3, h4 {color: #00274c;}
h2 {font-size: 1.5em;}

#bio-section h2 {
    border-bottom:#cecece solid 1px;
}
#hero {
    background: linear-gradient(#ffcb05, #00274c);
    background-size: cover;
}

button {
    border-radius: 20%;
}